* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
  }

  .video__header {
    text-decoration: none;
    color: rgb(206, 216, 224);
  }

  .video__description {
    text-decoration: none;
    color: rgb(206, 216, 224);
  }

  .video__playing {
    width: auto;
    height: auto;
  }

  .algo__button {
    background: #cf8515;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  .hero {
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0;
  }