* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
  }

  .navbar {
    background: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .navbar__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    padding: 0 50px;
  }

  #navbar__logo {
    background-image: linear-gradient(to top, #4ca1af, #c4e0e5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }

  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .navbar__item {
    height: 80px;
  }

  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    transition: all 0.3s ease;
  }

  .navbar__links:hover {
    color: #4ca1af;
    transition: all 0.3s ease;
  }

  /* Navbar Mobile */
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      font-size: 1.4rem;
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  #hero {
    background: linear-gradient(to right, #161616, #000000);
  }

  .hero__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0px 20px;
    height: 100vh;
    }

  #code__link {
    color: aliceblue;
    text-align: center;
  }

  #code__image {
    color: aliceblue;
    font-size: 1.8rem;
    text-align: center;
  }

  .algo__button {
    font-size: 1.8rem;
    background: -webkit-linear-gradient(to right, #4ca1af, #c4e0e5);
    background: linear-gradient(to right, #4ca1af, #c4e0e5);
    padding: 20px 60px;
    width: 50vh;
    border-radius: 6px;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    border: none;
  }

  .algo__button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .algo__button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4ca1af;
    transition: all 0.35s;
    border-radius: 6px;
  }
  
  .algo__button:hover {
    color: #fff;
  }
  
  .algo__button:hover:after {
    width: 100%;
  }

  .algo__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100vh;
    background: linear-gradient(to right, #161616, #000000);
  }

  .button__container {
    display: flex;
    flex-direction: column;
  }

  .about__container {
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__header {
    text-align: center;
    background: -webkit-linear-gradient(to top, #4ca1af, #c4e0e5);
    background: linear-gradient(to top, #4ca1af, #c4e0e5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .about__description {
    color: aliceblue;
    padding: 10px;
    width: 40vh;
  }

  .text__container {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0px 6vh;
    align-items: center;
  }

  #video__header {
    background: -webkit-linear-gradient(to top, #4ca1af, #c4e0e5);
    background: linear-gradient(to top, #4ca1af, #c4e0e5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
  }

  #video__description {
    color: aliceblue;
    width: 40vh;
    padding-bottom: 1rem;
  }

  #video__playing {
    width: 70vh;
    height: 70vh;
  }

  .change__video {
    font-size: 1.8rem;
    background: -webkit-linear-gradient(to right, #4ca1af, #c4e0e5);
    background: linear-gradient(to right, #4ca1af, #c4e0e5);
    padding: 20px 60px;
    width: 400px;
    border-radius: 6px;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    border: none;
  }

  .change__video a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .change__video:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4ca1af;
    transition: all 0.35s;
    border-radius: 6px;
  }
  
  .change__video:hover {
    color: #fff;
  }
  
  .change__video:hover:after {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .hero__container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding-bottom: 11vh;
      height: 95vh;
      width: 100%;
    }

    .button__container {
      width: auto;
    }

    .about__container {
      width: auto;
      margin: 0px;
    }

    .about__description {
      width: 100%;
    }

    .about__feature {
      width: 100%;
    }

    .algo__button {
      width: auto;
      font-size: 1.2rem;
      padding: 10px 25px;
    }

    .algo__container {
      height: 100%;
      padding: 2rem 5px;
    }

    .text__container {
      padding: 0px;
      width: 40vh;
    }

    #video__playing {
      width: auto;
      height: 25vh;
    }

    #video__header {
      font-size: 20px;
      width: auto;
    }

    #video__description {
      font-size: 12px;
      width: auto;
    }

    .change__video{
      font-size: 14px;
      width: auto;
    }
  }