* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

  .navbar {
    background: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .navbar__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    padding: 0 50px;
  }

  #navbar__logo {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }

  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .navbar__item {
    height: 80px;
  }

  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    transition: all 0.3s ease;
  }

  .navbar__links:hover {
    color: #ffb199;
    transition: all 0.3s ease;
  }

  /* Navbar Mobile */
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  #hero {
    background: linear-gradient(to right, #161616, #000000);
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: auto;
    width: 100%;
    padding: 20px;
    }

  #code__link {
    margin-top: 1rem;
    color: aliceblue;
    text-align: center;
  }

  #code__image {
    color: aliceblue;
    font-size: 1.8rem;
    text-align: center;
  }

  #button__header {
    font-size: 1.8rem;
    background-image: -webkit-linear-gradient(to top, #a1c4fd, #c2e9fb);
    background-image: linear-gradient(to top, #a1c4fd, #c2e9fb);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
  }

  .algo__button {
    font-size: 1.8rem;
    background: -webkit-linear-gradient(to right, #66a6ff, #89f7fe);
    background: linear-gradient(to right, #66a6ff, #89f7fe);
    padding: 20px 60px;
    width: 40%;
    border-radius: 6px;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    border: none;
  }

  .algo__button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .algo__button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #66a6ff;
    transition: all 0.35s;
    border-radius: 6px;
  }
  
  .algo__button:hover {
    color: #fff;
  }
  
  .algo__button:hover:after {
    width: 100%;
  }

  .algo__container {
    display: flex;
    padding-bottom: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: linear-gradient(to right, #161616, #000000);
  }

  .text__container {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  #video__header {
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
  }

  #video__description {
    color: aliceblue;
    width: 300px;
    padding-bottom: 1rem;
  }

  #video__playing {
    width: auto;
    height: auto;
  }

  .change__video {
    font-size: 1.8rem;
    background: -webkit-linear-gradient(to right, #66a6ff, #89f7fe);
    background: linear-gradient(to right, #66a6ff, #89f7fe);
    padding: 20px 60px;
    width: 400px;
    border-radius: 6px;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    border: none;
  }

  .change__video a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .change__video:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #66a6ff;
    transition: all 0.35s;
    border-radius: 6px;
  }
  
  .change__video:hover {
    color: #fff;
  }
  
  .change__video:hover:after {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    #about__description {
      font-size: 16px;
    }

    .algo__button {
      font-size: 16px;
      width: 80%;
      height: 80%;
    }

    #video__playing {
      width: 300px;
      height: 300px;
    }

    #video__header {
      font-size: 20px;
    }

    #video__description {
      font-size: 16px;
    }

    .change__video{
      font-size: 16px;
      width: 80%;
      height: 80%;
    }
  }